In [1]:
# Datatypes

In [2]:
# Numeric type -> int, float, complex
# Set
# dict
# Sequence type -> str, tuple, list
# booleans

In [3]:
a=8
a

8

In [4]:
b=6.3
b

6.3

In [5]:
c={a:b, 'hi':3}
c

{8: 6.3, 'hi': 3}

In [6]:
d='hello'
d

'hello'

In [7]:
e=(a,b,c,d)
e

(8, 6.3, {8: 6.3, 'hi': 3}, 'hello')

In [8]:
f=[a,b,c]
f

[8, 6.3, {8: 6.3, 'hi': 3}]

In [11]:
g=True
int(g)

1

In [12]:
def call(s,t):
    k=s+t
    return k

In [13]:
call('hello', 'badal')

'hellobadal'

In [14]:
call(7,3.65)

10.65

In [15]:
y=call(5,3)
y

8

In [16]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [17]:
for i in f:
    print(i)

8
6.3
{8: 6.3, 'hi': 3}

In [18]:
f

[8, 6.3, {8: 6.3, 'hi': 3}]

In [19]:
f[0]

8

In [21]:
u = f[-1]
u

{8: 6.3, 'hi': 3}

In [25]:
v = u.keys()
list(v)

[8, 'hi']

In [23]:
u.values()

dict_values([6.3, 3])

In [26]:
for i,j in u.items():
    print(i,j)

8 6.3
hi 3

In [28]:
for i in u:
    print(i,u[i])

8 6.3
hi 3

In [29]:
u['hi']

3

In [30]:
f

[8, 6.3, {8: 6.3, 'hi': 3}]

In [31]:
f.append(8.56)

In [32]:
f

[8, 6.3, {8: 6.3, 'hi': 3}, 8.56]

In [33]:
f.pop()

8.56

In [34]:
f

[8, 6.3, {8: 6.3, 'hi': 3}]

In [35]:
f.pop()

{8: 6.3, 'hi': 3}

In [36]:
f

[8, 6.3]

In [37]:
f.insert(0,6.09)

In [38]:
f

[6.09, 8, 6.3]

In [39]:
f.remove(6.3)

In [40]:
f

[6.09, 8]

In [44]:
h=[1,2,3,4,1,2,3]
h

[1, 2, 3, 4, 1, 2, 3]

In [47]:
h.remove(2)

In [48]:
h

[1, 3, 4, 1, 2, 3]

In [1]:
# class

In [3]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

In [4]:
p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [6]:
p2 = Person('Badal', 20)
p2.myfunc()

Hello my name is Badal

In [10]:
class calc:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        
    def add(self):
        return self.a + self.b 
    
    def sub(self):
        return self.a - self.b 
    
    def mul(self):
        return self.a * self.b 
    
    def div(self):
        return self.a / self.b 
    
    def rem(self):
        return self.a % self.b

In [13]:
p1 = calc(45.7, 5)
r1 = p1.add()
r1

50.7

In [14]:
type(r1)

float

In [16]:
m1 = p1.mul()
print(m1)

228.5

In [18]:
p2 = calc(4,2)
p2

In [19]:
0x24be62e7ca0

2525007608992

In [21]:
s = p2.sub()
print(s)

2

In [22]:
k = p2.mul()
k

8

In [24]:
j = p1.div()
j

9.14

In [11]:
class Account:
    def __init__(self,owner,balance=0):
        self.owner = owner
        self.balance = balance

    def __str__(self):
        return f'Account owner:   {self.owner}\nAccount balance: ${self.balance}'

    def deposit(self,dep_amt):
        self.balance += dep_amt
        print('Deposit Accepted')

    def withdraw(self,wd_amt):
        if self.balance >= wd_amt:
            self.balance -= wd_amt
            print('Withdrawal Accepted')
        else:
            print('Funds Unavailable!')

In [24]:
# 1. Instantiate the class
acct1 = Account('Jose',100)

# 2. Print the object
print(acct1)

Account owner:   Jose
Account balance: $100

In [25]:
# 3. Show the account owner attribute
acct1.owner

'Jose'

In [26]:
# 4. Show the account balance attribute
acct1.balance

100

In [27]:
# 5. Make a series of deposits and withdrawals
acct1.deposit(50)

Deposit Accepted

In [28]:
acct1.withdraw(75)

Withdrawal Accepted

In [29]:
# 6. Make a withdrawal that exceeds the available balance
acct1.withdraw(500)

Funds Unavailable!

In [30]:
# 4. Show the account balance attribute
acct1.balance

75

In [31]:
# 6. Make a withdrawal that exceeds the available balance
acct1.withdraw(45)

Withdrawal Accepted

In [32]:
acct1.balance

30

In [33]:
# 5. Make a series of deposits and withdrawals
acct1.deposit(500)

Deposit Accepted

In [34]:
# 4. Show the account balance attribute
acct1.balance

530

In [36]:
acct2 = Account('imvickykumar999')
print(acct2)

Account owner:   imvickykumar999
Account balance: $0

In [38]:
acct2.deposit(200)

Deposit Accepted

In [39]:
acct2.balance

200

In [40]:
acct2.withdraw(150)

Withdrawal Accepted

In [41]:
acct2.balance

50

In [42]:
acct2.owner

'imvickykumar999'