# Google SpreadSheet Link : 

## [ShortListing Teams using Pandas](https://docs.google.com/spreadsheets/d/1iJ2bRgXew6PCdSJ5XIWxJ7ZLbRo1OQ0OdOmOoa-P6O0/edit?resourcekey#gid=1943763034)

In [6]:
import pandas as pd

dataframe = pd.read_excel('final.xlsx')
dataframe.index.name = 'S.No'
dataframe.index += 2
# print("Given Dataframe :\n", dataframe)

columns = ['FULL NAME ( Team Leader )',
           'College Name ( All team members must belong from same College )',
           'Team Name',
           'EMAIL ID ( Team Leader )',
          ]   
columns

['FULL NAME ( Team Leader )',
 'College Name ( All team members must belong from same College )',
 'Team Name',
 'EMAIL ID ( Team Leader )']

In [7]:
selrow = [10, 13, 15, 17, 20, 23, 24, 25, 27, 28, 31, 34, 38, 39, 41, 42, 44, 46, 47, 49, 50]
selteam = dataframe.loc[selrow, columns] 
selteam

,FULL NAME ( Team Leader ),College Name ( All team members must belong from same College ),Team Name,EMAIL ID ( Team Leader )
S.No,,,,
10,D.v.n.kameswari,Vidya Jyothi institute of technology,Cocokasaya,kameswari2558@gmail.com
13,VIRAJ KUMAR SINGH,G.V. Acharya Institute of Engineering and Tech...,Torque,viraj.ks2001@gmail.com
15,Aleena Sara Varghese,Muthoot Institute of Technology and Science,Aura,aleenasarav@gmail.com
17,HARIPRAKAASH N,Bannari Amman Institute of Technology,Gagnants,hariprakaash.cb20@bitsathy.ac.in
20,Vignesh M,"Government College of Technology,Coimbatore",Karna,vignesh3035465@gmail.com
23,SUJITH S,Bannari Amman Institute of Technology,Breaking Code,sujith.cs19@bitsathy.ac.in
24,Sanjana jain,ABES Engineering College,Tech Bug 404,sanjana1998.jain@gmail.com
25,CHETHAN N C,YENEPOYA INSTITUTE OF TECHNOLOGY,Yenground breakers,chethannc412@gmail.com
27,Nikhil Bhardwaj,"Great Lakes Institute of Management, Gurgaon",Noor,nikhil.pgdm22g@greatlakes.edu.in
28,PREETHIKA N C,BANNARI AMMAN INSTITUTE OF TECHNOLOGY,Numeric0_0Nerds,preethika.ec18@bitsathy.ac.in
31,SUJITHKUMAR M A,PSG College of Technology,Team KNK,masujithkumar@gmail.com
34,Vicky Kumar,Rajasthan Institution of Engineering and Techn...,Boolean Freebirds,imvickykumar999@gmail.com
38,Simran,Thapar Institute of Engineering and Technology,Volunesia,simranvolunesia@gmail.com
39,Ankita pathak,Rajasthan institute of engineering and technology,Technothorns,ankitapathak263@gmail.com
41,Nishant Giri,"Kalinga Institute of Industrial Technology, Bh...",The Grandsons,nishantgiri.20@gmail.com
42,Ashish Kumar,Rajasthan Institute of Engineering and Technology,Cyberpunk,ashish99anonymous@gmail.com
44,Muktida Pandey,Rajasthan Institute of Engineering and Technol...,TheTitans,muktida02@gmail.com
46,Nihar Jyoti Basisth,National Institute of Technology Silchar,Unnamed Creators,nihar_ug@cse.nits.ac.in
47,Dhritiraj Borah,"National Institute of Technology, Silchar",The Plausibles,dhritiraj_ug@ece.nits.ac.in
49,Sameer Patel,KJ Somaiya College of Engineering,Tech Pirates,sameer.patel201999@gmail.com
50,Mukul Singh Shekhawat,Rajasthan Institute of engineering and technology,Hack Warriors,mukulsinghshekhawat@gmail.com

In [8]:
rietrow = [2, 4, 5, 34, 39, 42, 44, 48, 50]

selset = set(selrow)
rietset = set(rietrow)
inter_sel_riet = list(selset.intersection(rietset))

selriet = dataframe.loc[inter_sel_riet, columns] 
selriet

,FULL NAME ( Team Leader ),College Name ( All team members must belong from same College ),Team Name,EMAIL ID ( Team Leader )
S.No,,,,
34,Vicky Kumar,Rajasthan Institution of Engineering and Techn...,Boolean Freebirds,imvickykumar999@gmail.com
39,Ankita pathak,Rajasthan institute of engineering and technology,Technothorns,ankitapathak263@gmail.com
42,Ashish Kumar,Rajasthan Institute of Engineering and Technology,Cyberpunk,ashish99anonymous@gmail.com
44,Muktida Pandey,Rajasthan Institute of Engineering and Technol...,TheTitans,muktida02@gmail.com
50,Mukul Singh Shekhawat,Rajasthan Institute of engineering and technology,Hack Warriors,mukulsinghshekhawat@gmail.com

In [9]:
stared = [26, 32, 33, 35, 36, 37, 43]


sel_star = dataframe.loc[stared, columns] 
sel_star

,FULL NAME ( Team Leader ),College Name ( All team members must belong from same College ),Team Name,EMAIL ID ( Team Leader )
S.No,,,,
26,JISHNU SAURAV MITTAPALLI,VIT,BEST_TEAM,jishnu.2018a@vitstudent.ac.in
32,Garvit Chouhan,College of Technology And Engineering,Sigma9000,909garvit@gmail.com
33,SUMEKA A,BANNARI AMMAN INSTITUTE OF TECHNOLOGY,TEAM INFLUENCERS,sumeka.it19@bitsathy.ac.in
35,SAKTHI SAGAR G,BANNARI AMMAN INSTITUTE OF TECHNOLOGY,T'REX,sakthisagar.ae19@bitsathy.ac.in
36,Souhbarnika V,Kumaraguru College of Technology,Tech Dudes,souhbarnika.19ee@kct.ac.in
37,Jaganadan H,Sri Krishna College of Engineering and technol...,Immortal Leoz,19euee050@skcet.ac.in
43,Soham Malviya,NRI Institute of Information Sciene and Techno...,ANITA,sohammalviya65@gmail.com

In [10]:
selset = set(selrow)
starset = set(stared)
inter_sel_star = list(selset.intersection(starset))
inter_sel_star

[]

In [11]:
starset = set(stared)
rietset = set(rietrow)
inter_star_riet = list(starset.intersection(rietset))
inter_star_riet

[]

# Selected RIETans...

### ...intersection of RIETans and Selected.

In [12]:
selset = set(selrow)
rietset = set(rietrow)

inter_sel_riet = list(selset.intersection(rietset))
inter_sel_riet

[34, 39, 42, 44, 50]

In [13]:
import pandas as pd
writer = pd.ExcelWriter('Shortlisted.xlsx', engine='xlsxwriter')

selteam.to_excel(writer, sheet_name='Total Selected')
selriet.to_excel(writer, sheet_name='Selected RIETans')
sel_star.to_excel(writer, sheet_name='WildCardEntry')

writer.save()

In [14]:
# =========================================

In [25]:
import pandas as pd

dataframe = pd.read_excel('final.xlsx')
dataframe.index.name = 'S.No'
dataframe.index += 2

columns = ['FULL NAME ( Team Leader )',
           'Contact Number ( Team Leader )',
           'College Name ( All team members must belong from same College )',
           'Team Name',
           'EMAIL ID ( Team Leader )',
           'Full Name ( Member 1 )',
           'Contact Number ( Member 1 )',
           'Full Name ( Member 2 )',
           'Contact Number ( Member 2 )',
           'Full Name ( Member 3 )',
           'Contact Number ( Member 3 )',
          ]   

selrow = [10, 13, 15, 17, 20, 23, 24, 25, 27, 28, 31, 34, 38, 39, 41, 42, 44, 46, 47, 49]
selteam = dataframe.loc[selrow, columns] 

total = set([i for i in range(2, 51)])
unsel = list(total.difference(set(selrow)))
unselteam = dataframe.loc[unsel, columns] 

import pandas as pd
writer = pd.ExcelWriter('Shortlisted Teams.xlsx', engine='xlsxwriter')

selteam.to_excel(writer, sheet_name='Selected')
unselteam.to_excel(writer, sheet_name='Not Selected')

writer.save()
selteam

,FULL NAME ( Team Leader ),College Name ( All team members must belong from same College ),Team Name,EMAIL ID ( Team Leader )
S.No,,,,
10,D.v.n.kameswari,Vidya Jyothi institute of technology,Cocokasaya,kameswari2558@gmail.com
13,VIRAJ KUMAR SINGH,G.V. Acharya Institute of Engineering and Tech...,Torque,viraj.ks2001@gmail.com
15,Aleena Sara Varghese,Muthoot Institute of Technology and Science,Aura,aleenasarav@gmail.com
17,HARIPRAKAASH N,Bannari Amman Institute of Technology,Gagnants,hariprakaash.cb20@bitsathy.ac.in
20,Vignesh M,"Government College of Technology,Coimbatore",Karna,vignesh3035465@gmail.com
23,SUJITH S,Bannari Amman Institute of Technology,Breaking Code,sujith.cs19@bitsathy.ac.in
24,Sanjana jain,ABES Engineering College,Tech Bug 404,sanjana1998.jain@gmail.com
25,CHETHAN N C,YENEPOYA INSTITUTE OF TECHNOLOGY,Yenground breakers,chethannc412@gmail.com
27,Nikhil Bhardwaj,"Great Lakes Institute of Management, Gurgaon",Noor,nikhil.pgdm22g@greatlakes.edu.in
28,PREETHIKA N C,BANNARI AMMAN INSTITUTE OF TECHNOLOGY,Numeric0_0Nerds,preethika.ec18@bitsathy.ac.in
31,SUJITHKUMAR M A,PSG College of Technology,Team KNK,masujithkumar@gmail.com
34,Vicky Kumar,Rajasthan Institution of Engineering and Techn...,Boolean Freebirds,imvickykumar999@gmail.com
38,Simran,Thapar Institute of Engineering and Technology,Volunesia,simranvolunesia@gmail.com
39,Ankita pathak,Rajasthan institute of engineering and technology,Technothorns,ankitapathak263@gmail.com
41,Nishant Giri,"Kalinga Institute of Industrial Technology, Bh...",The Grandsons,nishantgiri.20@gmail.com
42,Ashish Kumar,Rajasthan Institute of Engineering and Technology,Cyberpunk,ashish99anonymous@gmail.com
44,Muktida Pandey,Rajasthan Institute of Engineering and Technol...,TheTitans,muktida02@gmail.com
46,Nihar Jyoti Basisth,National Institute of Technology Silchar,Unnamed Creators,nihar_ug@cse.nits.ac.in
47,Dhritiraj Borah,"National Institute of Technology, Silchar",The Plausibles,dhritiraj_ug@ece.nits.ac.in
49,Sameer Patel,KJ Somaiya College of Engineering,Tech Pirates,sameer.patel201999@gmail.com

In [20]:
total = set([i for i in range(2, 51)])
print(total)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}

In [24]:
selrow = set([10, 13, 15, 17, 20, 23, 24, 25, 27, 28, 31, 34, 38, 39, 41, 42, 44, 46, 47, 49])

unsel = list(total.difference(selrow))
print(unsel)

[2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 14, 16, 18, 19, 21, 22, 26, 29, 30, 32, 33, 35, 36, 37, 40, 43, 45, 48, 50]

In [5]:
body = '''
Hi,

You are receiving this email because you have been shortlisted for participation in HACKRIETJ. 

We are excited to have your team on board!

Rajasthan Institute of Engineering and technology, Jaipur
'''

In [6]:
print(body)

Hi,

You are receiving this email because you have been shortlisted for participation in HACKRIETJ.

We are excited to have your team on board!

Rajasthan Institute of Engineering and technology, Jaipur